.scales {
  display: flex;
  gap: 0.2rem;
}

.scales > * {
  flex: 1 1 100%;
}

.scale {
  background-color: var(--lightGrey);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.scaleHeight {
  height: 50px;
}

.padding {
  padding: 0.6em 1em;
}

.hovered {
  background-color: var(--primaryMediumColor);
}

.selected {
  background-color: var(--primaryColor);
}

.selectedDanger {
  background-color: var(--dangerColor);
}

.selectedSuccess {
  background-color: var(--successColor);
}

.selectedWarning {
  background-color: var(--warningColor);
}
