.scales {
  display: flex;
  gap: 0.2rem;
}

.scales > * {
  flex: 1 1 100%;
}

.scale {
  height: 50px;
  background-color: var(--lightGrey);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.hovered {
  background-color: var(--primaryMediumColor);
}

.selected {
  background-color: var(--primaryColor);
}
