.user {
  align-items: center;
  display: flex;
  font-size: var(--fs-l);
  gap: var(--baseHorzSpacing);
}

@media screen and (max-width: 768px) {
  .user {
    font-size: var(--fs-base);
    gap: var(--space-m);
  }
}

.initials,
.avatar {
  border-radius: 50%;
  border: var(--baseBorder);
  display: inline-block;
  height: 58px;
  width: 58px;
}

@media screen and (max-width: 768px) {
  .initials,
  .avatar {
    height: var(--fs-xxl);
    width: var(--fs-xxl);
  }
}

.initials {
  align-items: center;
  background-color: var(--primaryLightColor);
  display: flex;
  font-size: var(--fs-xl);
  justify-content: center;
}
