.mainLayout {
  display: grid;
  grid-template-rows: 1fr 70px;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--copyColor);
}

@media screen and (max-width: 768px) {
  .mainLayout {
    font-size: 12px;
  }

  h1 {
    font-size: var(--fs-l);
  }

  h2 {
    font-size: var(--fs-base);
  }

  h3 {
    font-size: var(--fs-sm);
  }
}

.loggedIn {
  grid-template-rows: 75px 1fr 60px;
}

.lightTheme {
  --lightGrey: #f2f3f4;
  --darkGrey: #9b9b9b;
  /* COLORS */
  --white: #ffffff;
  --black: #000000;
  --accentColor: #201d29;
  --borderColor: #d6d6d6;
  --copyColor: #333333;
  --copyDarkColor: var(--black);
  --copyLightColor: var(--white);
  --primaryColor: #ab61e5;
  --primaryLightColor: #faf5ff;
  --primaryMediumColor: #e7e2f8;
  --baseBorder: 1px solid var(--borderColor);
}

.darkTheme {
  --lightGrey: #1d1d1d;
  --darkGrey: #9b9b9b;
  /* COLORS */
  --white: #000000;
  --black: #ffffff;
  --accentColor: #898596;
  --borderColor: #383838;
  --copyColor: #ebebeb;
  --copyDarkColor: var(--black);
  --copyLightColor: var(--white);
  --primaryColor: #ab61e5;
  --primaryLightColor: #b470eb5d;
  --primaryMediumColor: #b779ebb2;
  --baseBorder: 1px solid var(--borderColor);
}
