.feedbackContainer {
  border: var(--baseBorder);
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  max-width: 99%;
  margin: auto;
}

.users:first-child {
  flex: 1 0 30%;
}

.feedback:nth-child(2) {
  flex: 1 1 70%;
}

@media screen and (max-width: 500px) {
  .users {
    overflow: hidden;
  }
  .usersList {
    display: flex;
    gap: var(--space);
    max-width: 99%;
    overflow: scroll;
  }
}

.feedback {
  flex-grow: 1;
}

.users,
.feedback,
.usersList {
  list-style-type: none;
}

.users {
  border-right: var(--baseBorder);
}

.users li,
.users h3 {
  padding: 1rem;
}

.users h3,
.feedback h2 {
  margin: 0;
}

.feedback li {
  padding: 1.5rem;
}

.users li,
.feedback li {
  border-bottom: var(--baseBorder);
}

.user {
  cursor: pointer;
}

.user:hover {
  background-color: var(--primaryLightColor);
}

.selected {
  background-color: var(--lightGrey);
}

.feedback li:last-child {
  border-bottom: none;
}
