.notFound {
  border: var(--baseBorder);
  padding: var(--baseHorzSpacing);
  max-width: 600px;
}

.notFoundHeader {
  font-size: var(--fs-sm);
}

.notFoundText {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
