.feedback {
  list-style-type: none;
}

.feedback h2 {
  margin: 0;
}

.feedback li {
  padding: 1.5rem;
}

.feedback li {
  border-bottom: var(--baseBorder);
}

.feedback li:last-child {
  border-bottom: none;
}

.noFeedback {
  border: var(--baseBorder);
  border-radius: var(--borderRadius);
  padding: var(--baseHorzSpacing);
  max-width: 90%;
  width: 600px;
  margin: auto;
}
