.content {
  padding: var(--baseVertSpacing) var(--baseHorzSpacing);
  max-width: 100vw;
}

@media screen and (max-width: 375px) {
  .content {
    padding: var(--space-m) var(--space-m);
  }
}

.noPadding {
  padding: 0;
}
