.footer {
  align-items: center;
  background-color: var(--accentColor);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space);
  padding: var(--space) var(--baseHorzSpacing);
}
